
<user-greeting [user]="account.user"></user-greeting>

<section class="container"> 
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <img src="./assets/images/money.png" alt="Saldo da conta" [style.width]="'50px'">
            </div>
            <mat-card-subtitle>Seu saldo:</mat-card-subtitle>
            <mat-card-title>{{ account.balance | currency: 'BRL' }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            
        </mat-card-content>
        <mat-card-actions align="end">
            <button (click)="makeAMoneyDraw()" mat-raised-button color="warn">Sacar</button>
            <button (click)="makeAMoneyDeposit()" mat-raised-button color="accent">Aportar</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="transactions-box">
        <mat-card-header>
            <mat-card-subtitle>Extrato:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        <small *ngIf="transactions.length == 0" >
            Nenhuma transação foi registrada
        </small>

        <mat-list>
            <mat-list-item *ngFor="let transaction of transactions">
                <mat-icon mat-list-icon *ngIf="transaction.type == 'deposit'" color="accent">attach_money</mat-icon>
                <mat-icon mat-list-icon *ngIf="transaction.type == 'draw'" color="warn">money_off</mat-icon>
                <h4 mat-line>{{ transaction.value | currency: 'BRL' }}</h4>
                <p mat-line> {{ transaction.created_at | date }} </p>
            </mat-list-item>
        </mat-list>
        </mat-card-content>
    </mat-card>
</section>