mysqlclient
Django==2.2.6
django-environ==0.4.5
django-safedelete==0.5.1
djangorestframework==3.9.2
djoser==1.5.1
drf-extensions==0.4.0
djangorestframework-simplejwt==4.3.0
djangorestframework-filters
markdown
django-filter
