.toolbar {
    .toolbar-icon {
        padding: 0 14px;    
    }

    .toolbar-spacer {
        flex: 1 1 auto;
    }
}

body {
    background: #ECEFF1;
    color: #121212;
}

.container {
    padding: 1rem;
}